@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "Anek Telugu", sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body .title {
  font-size: 25px;
  width: 80%;
  font-style: italic;
  text-overflow: clip;
}
body .english, body .morse {
  height: 35vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .english__title, body .morse__title {
  align-self: flex-start;
  font-weight: lighter;
  font-style: italic;
  font-size: 15px;
  margin-left: 15px;
}
body .english__input, body .morse__input {
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: calc(0.75em - 1px);
  resize: none;
  border: solid, 1px, #dbdbdb;
  text-align: left;
  font-size: 12px;
  border-radius: 15px;
  font-weight: bold;
}
body .english__input:hover, body .morse__input:hover {
  border: solid 1px black;
}
body .english__button, body .morse__button {
  background-color: #ffce54;
  border: none;
  height: 50px;
  width: 180px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 15px;
  font-weight: lighter;
}
body .english__button:hover, body .morse__button:hover {
  transform: scale(0.97);
  transition: 0.3s;
}
body .english__button:active, body .morse__button:active {
  transform: scale(0.94);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  body {
    height: 90%;
  }
  body .title {
    font-size: 40px;
  }
  body main {
    display: flex;
    justify-content: space-between;
    width: 90vw;
  }
  body main .english, body main .morse {
    width: 40vw;
  }
  body main .english__title, body main .morse__title {
    margin-left: 0;
    align-self: center;
    font-size: 20px;
  }
  body main .english__input, body main .morse__input {
    font-size: 15px;
  }
  body main .english__button, body main .morse__button {
    height: 70px;
    width: 200px;
    font-size: 15px;
  }
}